/* font-family: "Poppins",sans-serif;
font-family: "Oswald",sans-serif; */
/*====================
2. Theme variables
======================*/

:root {
    --body-font: "Poppins", sans-serif;
    --title-font: "Oswald", sans-serif;

    --title-color: #F73322;
    --title--color2: #FFB70F;
    --border-color: #766E6E;
    --bg-color: #171A26;
    --box-color: #2C3042;
    --bg-orange: #F73322;
}

/*====================
3. General css
======================*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    scroll-behavior: inherit !important;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    background-color: var(--bg-color);
}

section {
    overflow: hidden;
}

body {
    font-family: var(--body-font);
    font-style: normal;
    font-size: var(--clamp14);
    color: #fff;
    /* line-height: 1.8; */
}

.pdtb {
    padding: 120px 0;
}

.pdtb80 {
    padding: 80px 0;
}

.copyRight_bg {
    background-color: #171A26;
    color: #fff !important;
    font-size: var(--clamp14);
    font-weight: 300;
    font-family: var(--title-font);
    letter-spacing: 0.5px;
}

.text-justify {
    text-align: justify;
}

.title_color {
    color: var(--title-color);
}

.title_color2 {
    color: var(--title--color2);
}

.sub_title {
    font-family: var(--title-font);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: var(--clamp16);
}

.title {
    font-family: var(--title-font);
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--clamp48);
}

.brdr_line {
    width: 1px;
    height: 90px;
    background-color: #fff;
}

.content p {
    font-family: var(--body-font);
    font-weight: normal;
    font-size: var(--clamp14);
    color: #fff;
}

.button {
    background-color: #fff;
    font-family: var(--body-font);
    font-weight: normal;
    font-size: var(--clamp16);
    border-radius: 10px;
    color: #000;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: var(--bg-orange);
    color: #fff;
}

.button2 {
    background-color: var(--bg-orange);
    font-family: var(--body-font);
    font-weight: normal;
    font-size: var(--clamp16);
    border-radius: 10px;
    color: #fff;
    padding: 15px 20px;
    text-transform: capitalize;
}

.button2 img {
    width: 35px;
}

.button2:hover {
    background-color: var(--title--color2);
    color: #000;
}

.button3 {
    background-color: var(--title--color2);
    font-family: var(--body-font);
    font-weight: normal;
    font-size: var(--clamp16);
    border-radius: 10px;
    color: #fff;
    padding: 15px 20px;
    text-transform: capitalize;
}

.button3 img {
    width: 35px;
}

.button3:hover {
    background-color: var(--title-color);
    color: #000;
}

.font38 {
    font-family: var(--title-font);
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--clamp38);
}

.font28 {
    font-family: var(--title-font);
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--clamp28);
}

.font16 {
    font-family: var(--title-font);
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--clamp16);
}