/* Fonts */
:root {
    --clamp12: clamp(10px, 0.625vw, 12px);
    --clamp13: clamp(10px, 0.677vw, 13px);
    --clamp14: clamp(12px, 0.72916vw, 14px);
    --clamp15: clamp(13px, 0.78125vw, 15px);
    --clamp16: clamp(14px, 0.8333vw, 16px);
    --clamp18: clamp(14px, 0.9375vw, 18px);
    --clamp20: clamp(16px, 1.0416vw, 20px);
    --clamp21: clamp(16px, 1.0937vw, 21px);
    --clamp22: clamp(16px, 1.145vw, 22px);
    --clamp24: clamp(16px, 1.25vw, 24px);
    --clamp26: clamp(18px, 1.3541vw, 26px);
    --clamp27: clamp(18px, 1.40625vw, 27px);
    --clamp28: clamp(18px, 1.4583vw, 28px);
    --clamp30: clamp(20px, 1.5625vw, 30px);
    --clamp32: clamp(20px, 1.666vw, 32px);
    --clamp34: clamp(20px, 1.770vw, 34px);
    --clamp35: clamp(20px, 1.8229vw, 35px);
    --clamp36: clamp(22px, 1.875vw, 36px);
    --clamp38: clamp(22px, 1.9791vw, 38px);
    --clamp40: clamp(24px, 2.1875vw, 40px);
    --clamp42: clamp(24px, 2.1875vw, 42px);
    --clamp44: clamp(24px, 2.291vw, 44px);
    --clamp45: clamp(26px, 2.3vw, 45px);
    --clamp46: clamp(26px, 2.3vw, 46px);
    --clamp48: clamp(28px, 2.5vw, 48px);
    --clamp50: clamp(28px, 2.6041vw, 50px);
    --clamp52: clamp(28px, 2.7083vw, 52px);
    --clamp54: clamp(28px, 2.8125vw, 54px);
    --clamp55: clamp(28px, 2.8645vw, 55px);
    --clamp56: clamp(28px, 2.9166vw, 56px);
    --clamp58: clamp(28px, 3.02083vw, 58px);
    --clamp60: clamp(30px, 3.125vw, 60px);
    --clamp62: clamp(30px, 3.2291vw, 62px);
    --clamp64: clamp(30px, 3.333vw, 64px);
    --clamp65: clamp(30px, 3.3854vw, 65px);
    --clamp66: clamp(32px, 3.4375vw, 66px);
    --clamp68: clamp(32px, 3.541vw, 68px);
    --clamp70: clamp(32px, 3.645vw, 70px);
    --clamp72: clamp(35px, 3.72vw, 72px);
    --clamp74: clamp(35px, 3.854vw, 74px);
    --clamp75: clamp(35px, 3.90625vw, 75px);
    --clamp76: clamp(35px, 3.958vw, 75px);
    --clamp78: clamp(35px, 4.0625vw, 78px);
    --clamp80: clamp(35px, 4.1666vw, 80px);
    --clamp82: clamp(35px, 4.27083vw, 82px);
    --clamp84: clamp(38px, 4.375vw, 84px);
    --clamp96: clamp(1.875rem, 1.05rem + 4.125vw, 6rem);
    --clamp100: clamp(38px, 5.2083vw, 100px);
    --clamp120: clamp(40px, 6.25vw, 120px);
}